@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Quicksand:wght@300..700&family=Sarina&display=swap');

body{
    background-color: #F7DAE7;
    font-family: "QuickSand", sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#Navbar{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
}

#nav-divider{
    display: flex;
    gap: 2rem;
}

.logo{
    font-family: "Sarina";
    color: #A55166;
}

a{
    text-decoration: none;
}

.link{
    color: #A55166;
}

.paragraph-div{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

p{
    color: #913a50;
    font-size: 1.1rem;
    text-wrap: wrap;
    width: 50%;
}

@media (max-width:600px){
    body{
        font-size: 0.6rem;
    }

    .paragraph-div{
        margin-top: 0.5rem;
    }
}